body{
  overflow: hidden;
}

.App {
  margin-top: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.botoes{
  display: flex;
}

.title-question{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 200;
}
